# uv add -r requirements.txt
# uvicorn main:app --reload

fastapi>=0.115.0
httpx>=0.27.0
uvicorn[standard]>=0.30.0
python-dotenv
openai>=1.0.0

langchain
langchain-community
langchain-openai
psycopg[binary]>=3.2.0
